/* 일반 구조 선택자(위치 기준) */

/* :first-child -> 첫 번째 위치한 요소가 맞으면 선택 */
#test1>pre:first-child{
    background-color: red;
    color: white;
}

/* :last-child -> 첫 번째 위치한 요소가 맞으면 선택 */
#test1>p:last-child{
    background-color: blue;
    color: white;
}

/* :nth-child(숫자) -> n 번째 위치한 요소가 맞으면 선택 */
#test1>p:nth-child(3){
    background-color: orange;
}

/* :nth-child(수열) -> 수열번째 위치한 요소가 맞으면 선택 */
#test1>p:nth-child(2n){     /* n==0이상의 양의 정수 */
    background-color: pink;
}

/* :nth-last-child(숫자) -> 뒤에서 n번째 위치한 요소가 맞으면 선택 */
#test1>p:nth-last-child(4){
    font-size: 30px;
}

/* 형태 구조 선택자 */

/* first-of-type
-> 선택된 형제 요소 중 첫 번째 선택
 */
#test2>p:first-of-type{ /* test2내부의 p요소 중 첫번째 */            
    background-color: yellowgreen;
}

/* last-of-type
-> 선택된 형제 요소 중 첫 마지막 선택
 */
#test2>p:last-of-type{ /* test2내부의 p요소 중 마지막 */            
    background-color: yellowgreen;
}

/* :nth-of-type(숫자or수열)
-> 선택된 형제 요소 중 n(0,1,2,...)번째 선택
*/
#test2>p:nth-of-type(2n+1){
    font-size: 20px;
    font-weight: bold;
}
/* :nth-last-of-type(숫자or수열)
-> 선택된 형제 요소 중 n(0,1,2,...)번째 선택
*/
#test2>p:nth-last-of-type(2){
    background-color: hotpink;
}

/* 부정선택자(:not) */
#test3>li:not(:nth-child(3n)){
    background-color: pink;
}